.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Redressed&family=Shadows+Into+Light&family=Shizuru&display=swap');
.newspunk{
  font-family: 'Shadows Into Light', cursive;
  margin-top: 4rem;
  color: #162447;
  font-weight: 900;
}